.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}

img {
    max-width: 80px;
}

.strength,
.strength-recipe {
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.strength {
    position: absolute;
    max-width: 80px;
    height: 100px;
}

.strength-recipe {
    max-width: 55px;
}

.view-recipe {
    line-height: 0.2;
    font-size: 40px;
    color: #353535;
}

.collection .collection-item.avatar {
    padding-left: 105px;
}

.collection .collection-item.avatar .title {
    font-weight: 700;
    font-size: large;
}

.desc {
    font-size: medium;
}

.ingredients>.ingredient {
    list-style-type: disc;
    margin-left: 20px;
}
