<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cocktail Cookbook</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper container">
                <a href="{{url_for('get_recipes')}}" class="brand-logo">Cocktail Cookbook</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if 'session' in request.cookies %}
                    <li><a href="{{url_for('add_recipe')}}">Add Cocktail</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                    {% else %}
                    <li><a href="{{url_for('login')}}">Login</a></li>
                    {% endif %}
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    {% if 'session' in request.cookies %}
                    <li><a href="{{url_for('add_recipe')}}">Add Cocktail</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                    {% else %}
                    <li><a href="{{url_for('login')}}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static',filename='js/filter.js')}}"></script>
    <script>
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').formSelect();
            $('.sidenav').sidenav();
            var mSelect = function() {
                var options = $('.multiple-select-dropdown>.selected');
                var occasions = [];
                options.each(function() {
                    occasions.push(this.textContent);
                });
                $('#occasions')[0].value = occasions;
            };
            if(window.location.href.indexOf("edit_recipe") > -1 || window.location.href.indexOf("add_recipe") > -1){
                mSelect();
                $('.multiple-select-dropdown>li').click(function() {
                    mSelect();
                });
            }
        });
    </script>
</body>

</html>
