{% extends 'base.html' %} {% block content %}
<h3>Edit Cocktail</h3>
<div class="row">
    <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix fas fa-cocktail"></i>
                <input id="name" name="name" type="text" class="validate" required value="{{recipe.name}}">
                <label for="name">Cocktail Name</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="desc" name="desc" type="text" class="validate" required value="{{recipe.desc}}">
                <label for="desc">Cocktail Summary</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">assessment</i>
                <select id="strength" name="strength" required>
                    <option value="" disabled selected>How strong is the cocktail?</option>
                    {% for str in strengths %}
                        {% if str.name == recipe.strength %}
                        <option value="{{ str.name }}" selected>{{ str.name }} ({{ str.desc }})</option>
                        {% else %}
                        <option value="{{ str.name }}">{{ str.name }} ({{ str.desc }})</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="strength">Cocktail Strength</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea id="ingredients" name="ingredients" class="materialize-textarea" required>{{recipe.ingredients}}</textarea>
                <label for="ingredients">Ingredients</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix fas fa-glass-martini-alt"></i>
                <select id="base" name="base" required>
                    <option value="" disabled selected>Cocktail Base</option>
                    {% for b in bases %}
                        {% if b.name == recipe.base %}
                        <option value="{{ b.name }}" selected>{{ b.name }}</option>
                        {% else %}
                        <option value="{{ b.name }}">{{ b.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="base">Cocktail Base</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea id="recipe" name="recipe" class="materialize-textarea" required>{{recipe.recipe}}</textarea>
                <label for="recipe">Recipe</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix fas fa-question"></i>
                <select id="difficulty" name="difficulty" required>
                    <option value="" disabled>Difficulty to make</option>
                    {% for d in difficulty %}
                        {% if d.name == recipe.difficulty %}
                        <option value="{{ d.name }}" selected>{{ d.name }}</option>
                        {% else %}
                        <option value="{{ d.name }}">{{ d.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="difficulty">Cocktail Difficulty</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix fas fa-glass-cheers"></i>
                <input type="hidden" id="occasions" name="occasions" value="{{recipe.occasions}}">
                <select id="occasions-select" name="occasions-select" multiple required>
                    <option value="" disabled>Please select</option>
                    {% for occ in occasions %}
                        {% if occ.name in recipe.occasions %}
                        <option value="{{ occ.name }}" selected class="selected">{{occ.name}}</option>
                        {% else %}
                        <option value="{{ occ.name }}">{{occ.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="occasions">Suitable Occasions</label>
            </div>
            <div class="row">
                <br>
                <button class="btn waves-effect waves-light" type="submit" name="action">Finish Editing
                    <i class="material-icons right">check</i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
